<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>작심삼일</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <header>
      <h1>작심삼일</h1>
      <nav><a href="/">작성하기</a> <a href="/posts">목록보기</a></nav>
    </header>
  </body>
</html>
